@import "tailwindcss";
 

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#793CFB;
  --hoverBG: #683FF9
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-hoverBG: var(--hoverBG);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

 
@layer base {
  html, * {
    font-family: var(--font-poppins), sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-aboreto), cursive;
  }
  a{
    color: var(--primary);
  }
}

@layer components {
  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-sm hover:bg-hoverBG font-bold uppercase inline-block cursor-pointer
  }

  .is-style-text-subtitle {
    @apply text-xl md:text-2xl font-poppins text-primary
  }
}